// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.groups span, .teams span  {
	cursor: pointer
}

.teams span {
    position: absolute;
    left: -2.5rem;
    top: 50%;
	
}

.app-container {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.flex, .flex-between {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #228b22;
    min-width: 100px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;

}

.groups-list-container {
    display: flex;
    flex-direction: column;

    .button-container {
    	margin-left: 10px;
	}

	div::first-child {
		margin-bottom: 20px;
	}
}

ul {
	margin-top: 1rem;
	padding-left: 1rem;

}

.go-back {
	margin-bottom: 10px;
}

.group-container { 
	span {
		margin-right:10px;
	}

	> div {
		margin-bottom: 10px;
	}

	input {
		margin: 0 20px;
	}

	li {
		position: relative;
		margin-bottom: 5px;
	}

	li .icon {
		position: absolute;
	    left: -2.5rem;
	    top: 25%;
	    font-size: 1.1rem;
	    line-height: 0.6;
	}

	.flex-col {
		margin: 20px 0;
	}

}

.input-container {
    margin: 0 10px;
}

team .input-container {
	flex: 1 1;
	margin: 0 10px;
}

.matches {
	max-height: 40vh;
	overflow-y: auto;
}

.match-team:first-child {
    text-align: right;
}

.match-team {
    max-width: 50%;
    overflow-x: hidden;
    text-overflow: ellipsis;

}

