<template>
	<div class="groups-list-container">

        <div class="flex">
            <span>Groups:</span>
            <div class="button-container">
                <span @click.prevent="addGroup">New</span>
            </div>
        </div>

        <div class="loading" v-if="loading">
            Loading...
        </div>

		<ul class="flex-col groups">
			<li v-for="{id, name} in groups" :id="id" :key="id">
				<router-link :to="{ name: 'team', params: {name: name} }">
					{{ name }}
				</router-link>
					
				<span @click="deleteGroup(id)">x</span>
			</li>
		</ul>

		<div v-if="errors" class="d-flex justify-content-center">
			<div class="w-50 alert alert-danger ">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Error! </strong>{{ error }}
			</div>
		</div>
        
	</div>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
        	groups: [],
        	errors: null,
        	loading: null,
        	url: location.href.replace(/\/$/, "")+'/api',
        }
    },
    created () {
    	this.fetchGroups();
    },    
    methods: {

        fetchGroups() {
            this.error = null;
            this.loading = true;
            axios
                .get(this.url)
                .then(response => {
                    this.loading = false;
                    this.groups = response.data;
                }).catch(error => {
                    this.loading = false;
                    error => this.renderErrors(error.response.data.errors)
                });
        },

        addGroup() {
        	axios
        		.post(this.url)
        		.then(response => {
        			this.error = null;
        			if (this.groups.length == 0) {
        				this.groups = [response.data]
        			} else {
        				this.groups.push(response.data)
        			}
        		})
        		.catch(error => this.renderErrors(error.response.data.errors))
        },

        deleteGroup(id) {
        	axios
        		.post(this.url+'/'+id, {_method: 'DELETE'})
        		.then(response => {
        			this.error = '';
					for(let i = 0; i < this.groups.length; i++){ 
					   if (this.groups[i].id === id) {
					     this.groups.splice(i, 1);
					   }
					}     
        		})
        		.catch(error => this.renderErrors(error.response.data.errors))        	
        }
    }
}
</script>