<template>
	<div class="group-container">
			<button 
                class="button-container go-back" 
                @click.prevent="goBack()">
                Go Back
            </button>

			<div class="d-flex justify-content-start">
				    <span>Group:</span> {{group}}
			</div>

            <div class="flex-col team">
                <div class="flex-between">
                    <span>Team: </span>
                    <div class="input-container">
                        <input type="text" class="" v-model="team">
                    </div>
                    <button 
                    @click.prevent="addTeam"
                    :disabled="disableAddTeam" 
                    class="button-container">Add</button>
                </div>
            </div>

			<div class="d-flex justify-content-start teams">
			    <span>Teams: </span>
				<ol>
					<li v-for="{id, name} in this.teams" :id="id">
					   {{ name }}
					   <span class="icon" v-if="canRemove(id)" @click="deleteTeam(id)">x</span> 
					</li>
				</ol>
			</div>

            <div class="flex-col">
			    <div class="flex-between">
					<span>Matches: </span>
				    <button 
                        :disabled="disableGenerate"
                        @click="generateMatches" 
                        class="button-container">
                            Generate
                    </button>
			    </div>

                <div class="flex-col matches">
					<div 
                        v-for="{first, second, id} in matches" 
                        :id="id"
                        :key="id"
                        class="match-item flex-between"
                    >
                        <span class="flex-grow match-team" aria-label="">
                        {{ first.team.name }}
                        </span>
                        <div class="flex">
                            <div class="input-container">
                                <input :id="first.team.id"  data-number="one" type="number" @keyup="updateScore" v-model="first.score">
                            </div>
                                                       : 
                            <div class="input-container">
                                <input :id="second.team.id" data-number="two" type="number" @keyup="updateScore" v-model="second.score">
                            </div>
                        </div>
                        <span class="flex-grow match-team" aria-label="">
                        {{ second.team.name }}
                        </span>                        
                    </div>
                </div>

            </div>


		<div v-if="errors" class="d-flex justify-content-center">
			<div v-for="error in errors" class="w-50 alert alert-danger ">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Error! </strong>{{ error }}
			</div>
		</div>
		

	</div>	
</template>
<script>
import axios from 'axios';
export default {
    data() {
        return {
        	group: this.$route.params.name,
        	errors: null,
        	team: null,
        	teams: [],
            matches: [],
        	loading: null,
            disableGenerate: true,
            disableAddTeam: false,
        	url: location.origin.replace(/\/$/, "")+'/api/group',
        }
    },
    created () {
    	this.fetchTeams();
    },    
    methods: {

        fetchTeams() {
            this.error = null;
            this.loading = true;
            axios
                .get(this.url, {  
                        params: {
                            group: this.group
                        }
                })
                .then(response => {
                    this.team = '';
                    this.loading = false;
                    this.teams = response.data.teams;
                    if (this.teams.length > 1 && this.matches.length == 0) {
                        this.disableGenerate = false;
                    }
                    if (response.data.matches !== null) {
                        this.matches = response.data.matches;
                    }
                }).catch(error => this.renderErrors(error.response.data.errors));
        },

        addTeam() {
            let team = this.team;
            this.team = '';
        	axios
        		.post(this.url, {
        			team: team,
        			group: this.group
        		})
        		.then(response => {
        			this.error = null;
        			if (this.teams.length == 0) {
        				this.teams = [response.data]
        			} else {
        				this.teams.push(response.data)
        			}
                    if (this.teams.length > 1  && this.matches.length == 0) {
                        this.disableGenerate = false;
                    }
        		})
        		.catch(error => this.renderErrors(error.response.data.errors))
        },

        deleteTeam(id) {
        	axios
        		.post(this.url+'/'+id, {_method: 'DELETE'})
        		.then(response => {
            			this.error = '';
                        this.deleteMatches(id);
                        this.teams = this.teams.filter(team => team.id !== id);
                        if (this.teams.length == 0) this.disableAddTeam = false;
            		})
        		.catch(error => this.renderErrors(error.response.data.errors))        	
        },

        deleteMatches(id) {
            if (this.matches === undefined || this.matches.length === 0) return;   
            this.matches = this.matches.filter(match => {
                return (match.first.team.id !== id && match.second.team.id !== id)
            })
        },

        generateMatches() {
            axios
                .post(this.url+'/matches', {teams: this.teams})
                .then(response => {
                    this.disableGenerate = true;
                    this.disableAddTeam = true;
                    this.matches = response.data;  
                })
                .catch(error => this.renderErrors(error.response.data.errors))  
        },

        updateScore() {
            let input = event.target;
            let number = input.dataset.number;
            let value = input.value;
            let id = input.id;
            let matchId = input.closest('.match-item').id;
            let data = {
                _method: 'PUT',
                matchId: matchId,
                number: number,
                value: value,
            }
            axios
                .post(this.url+'/matches/'+id, data)
                .then(response => this.errors = null)
                .catch(error => this.renderErrors(error.response.data.errors));            
        },

        canRemove(id) {       
            let summaryString = '';
            if (this.matches !== undefined) {
                summaryString =  this.matches.reduce((result, match) => {
                        if (match.first.team.id == id || match.second.team.id == id) {
                            result += match.first.score == null ? '' : match.first.score;
                            result += match.second.score == null ? '' : match.second.score;
                        }            
                        return result;
                    }, '');
            }
            return summaryString.length == 0 ? true : false;
        }
    }
}

</script>